@page "/department"
<h3>IndexDepartment</h3>

@if (DepartmentModels == null)
{
    <p>Đang tải ...</p>
}
else
{
    <a class="btn btn-primary" href="/department/create">Tạo phòng/khoa</a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Tên phòng/khoa</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var department in DepartmentModels)
            {
                <tr>
                    <td>@department.ID</td>
                    <td>@department.DepartmentName</td>
                    <td>
                        <a class="btn btn-secondary" href="/department/update/@department.ID">Cập nhật</a>
                        <button class="btn btn-danger" @onclick="()=> { DeleteID = department.ID; Modal.Open();}">Xoá</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <AppModal @ref="Modal">
        <Title>Notification</Title>
        <Body>
            Bạn có chắc là muốn xoá phòng/khoa này không?
        </Body>
        <Footer>
            <button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Không</button>
        </Footer>
    </AppModal>
}
