@page "/rotating/ownrequest/update/{ID:int}"
@rendermode InteractiveServer

<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Cập nhật Yêu cầu luân chuyển của tôi</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="/rotating/history">Yêu cầu luân chuyển của tôi</a></li>
					<li class="breadcrumb-item active">Cập nhật Yêu cầu luân chuyển của tôi</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Cập nhật Yêu cầu luân chuyển của tôi</h3>
	</div>
	<EditForm OnValidSubmit="Submit" FormName="UpdateOwnRequest" Model="Model">
		<DataAnnotationsValidator />
		<div class="card-body">
			<div class="row mb-3">
				<div class="col-md-6">
					<label> Loại thiết bị</label>
					<InputSelect class="form-control" @bind-Value="Model.EquipmentTypeId">
						<option value="">Chọn loại thiết bị</option>
						@foreach (var equipmentType in EquipmentTypes)
						{
							<option value="@equipmentType.ID">@equipmentType.EquipmentTypeName</option>
						}
					</InputSelect>
					<ValidationMessage For="() => Model.EquipmentTypeId" />
				</div>
				<div class="col-md-6">
					<label> Phòng/khoa</label>
					<InputSelect class="form-control" @bind-Value="Model.DepartmentId">
						<option value="">Chọn phòng ban</option>
						@foreach (var department in Departments)
						{
							<option value="@department.ID">@department.DepartmentName</option>
						}
					</InputSelect>
					<ValidationMessage For="() => Model.DepartmentId" />
				</div>
			</div>
			<div class="row mb-3">
				<div class="col-md-6">
					<label> Lý do</label>
					<InputText class="form-control" @bind-Value="Model.RequestReason" />
					<ValidationMessage For="() => Model.RequestReason" />
				</div>
			</div>
			<div class="card-footer">
				<button class="btn btn-primary mr-2" type="submit">Lưu</button>
				<a class="btn btn-secondary" href="/rotating/ownrequest">Trở về</a>
			</div>
		</div>
	</EditForm>
</div>