@page "/equipmenttype"
@using EMS.Web.Components.BaseComponents
@using EMS.Model.Entities
<PageTitle>Quản lý loại thiết bị</PageTitle>


@if (EquipmentTypeModels == null)
{
	<p>Đang tải ...</p>
}
else
{
	<section class="content-header">
		<div class="container-fluid">
			<div class="row mb-2">
				<div class="col-sm-6">
					<h1>Quản lý Loại thiết bị</h1>
				</div>
				<div class="col-sm-6">
					<ol class="breadcrumb float-sm-right">
						<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
						<li class="breadcrumb-item active">Loại thiết bị</li>
					</ol>
				</div>
			</div>
		</div><!-- /.container-fluid -->
	</section>

	<section class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-12">

					<div class="card">
						<div class="card-header">
							<h3 class="card-title">Danh sách Loại thiết bị</h3>
						</div>
						<!-- /.card-header -->
						<div class="card-body">
							<p>

								<a class="btn btn-primary" href="/equipmenttype/createequipmenttype">Tạo loại thiết bị</a>
							</p>
							<table id="example1" class="table table-bordered table-striped">
								<thead>
									<tr>
										<th>ID</th>
										<th>Tên thiết bị</th>
										<th>Hành động</th>
									</tr>
								</thead>

								<tbody>
									@foreach (var equipmentType in EquipmentTypeModels)
									{
										<tr>
											<td>@equipmentType.ID</td>
											<td>@equipmentType.EquipmentTypeName</td>
											<td>
												<a class="btn btn-secondary mb-2" href="/equipmenttype/update/@equipmentType.ID">Cập nhật</a>
												<button class="btn btn-danger" @onclick="()=> { DeleteID = equipmentType.ID; Modal.Open();}">Xoá</button>
											</td>
										</tr>
									}
								</tbody>
							</table>
						</div>
						<!-- /.card-body -->
					</div>
					<!-- /.card -->
				</div>
				<!-- /.col -->
			</div>
			<!-- /.row -->
		</div>
		<!-- /.container-fluid -->
	</section>

	<AppModal @ref="Modal">
		<Title>Notification</Title>
		<Body>
			Bạn có muốn xoá thiết bị này ?
		</Body>
		<Footer>
			<button type="button" class="btn btn-primary" style="width:80px" @onclick="HandleDelete">Có</button>
			<button type="button" class="btn btn-secondary" data-dismiss="modal" @onclick="() => Modal.Close()">Không</button>
		</Footer>
	</AppModal>
}
