@page "/user/update/{ID:int}"
@rendermode InteractiveServer
<PageTitle>Cập nhật thông tin</PageTitle>


<section class="content-header">
	<div class="container-fluid">
		<div class="row mb-2">
			<div class="col-sm-6">
				<h1>Cập nhật Người dùng</h1>
			</div>
			<div class="col-sm-6">
				<ol class="breadcrumb float-sm-right">
					<li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
					<li class="breadcrumb-item"><a href="/user">Người dùng</a></li>
					<li class="breadcrumb-item active">Cập nhật</li>
				</ol>
			</div>
		</div>
	</div><!-- /.container-fluid -->
</section>

<div class="card">
	<div class="card-header">
		<h3 class="card-title">Người dùng</h3>
	</div>
	<EditForm OnValidSubmit="Submit" FormName="CreateProduct" Model="Model">
		<DataAnnotationsValidator />
		<div class="card-body">

			<div class="form-group">
				<label> Tên tài khoản</label>
				<InputText class="form-control" @bind-Value="Model.Username" />
				<ValidationMessage For="() => Model.Username" />
			</div>

			<div class="form-group">
				<label>Vai trò</label>
				@foreach (var role in AllRoles)
				{
					<div>
						<InputCheckbox @bind-Value="role.IsSelected" />
						@role.RoleName
					</div>
				}
			</div>
			<div class="card-footer">
				<button class="btn btn-primary mr-2" type="submit">Lưu</button>
				<a class="btn btn-secondary" href="/user">Trở về</a>
			</div>
		</div>
	</EditForm>
</div>
