@page "/user/update/{ID:int}"
@rendermode InteractiveServer

<h3>UpdateUser</h3>

<EditForm OnValidSubmit="Submit" FormName="CreateProduct" Model="Model">
    <DataAnnotationsValidator />
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6">
                <label> Username</label>
                <InputText class="form-control" @bind-Value="Model.Username" />
                <ValidationMessage For="() => Model.Username" />
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-md-6">
                <label>Roles</label>
                @foreach (var role in AllRoles) 
                {
                    <div>
                        <InputCheckbox @bind-Value="role.IsSelected" />
                        @role.RoleName
                    </div>
                }
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Save</button>
        <a class="btn btn-secondary" href="/user">Back</a>

    </div>
</EditForm>

